
<style>
    div.card {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }

    div.header1 {
        background-color: #ff0000;
        background-image:
            /* top, transparent red */
            linear-gradient(
                rgba(255, 0, 0, 0.45),
                rgba(255, 0, 0, 0.45)
            ),
            /* your image */
            url("/1.jpg");
        background-size: cover;
        color: white;
        padding-bottom: 25%;
        padding-top: 25%;
        font-size: 40px;
    }

    div.header2 {
        background-color: #ff00ff;
        background-image:
            /* top, transparent red */
            linear-gradient(
                #ff00ff,
                rgba(255, 0, 0, 0.45)
            ),
            url("/2.jpg");
        background-size: cover;
        color: white;
        padding-bottom: 25%;
        padding-top: 25%;
        font-size: 40px;
    }

    div.header3 {
        background-image:
            /* top, transparent red */
            linear-gradient(
                #00ff00,
                rgba(255, 0, 0, 0.45)
            ),
            url("/6.jpg");
        background-color: #00ff00;
        background-size: cover;
        color: white;
        padding-bottom: 25%;
        padding-top: 25%;
        font-size: 40px;
    }

    div.header4 {
        background-image:
            /* top, transparent red */
            linear-gradient(
                #ace600,
                rgba(255, 0, 0, 0.45)
            ),
            url("/4.jpg");
        background-color: #ace600;
        background-size: cover;
        color: white;
        padding-bottom: 25%;
        padding-top: 25%;
        font-size: 40px;
    }

    div.header5 {
        background-color:  #00ccff;
        background-image:
            /* top, transparent red */
            linear-gradient(
                /*rgb(19, 211, 19)*/
                    #00ccff,
                    rgba(158, 255, 236, 0.45)
            ),
            url("/5.jpg");
        color: white;
        /*padding: 5%;*/
        background-size: cover;
        padding-bottom: 25%;
        padding-top: 25%;
        font-size: 40px;
    }

    div.container {
        padding: 10px;
    }
    .mytitle {
        color: rgb(169,169,169);
    }
    .mypads {
        padding-right: 0.5%;
        padding-left: 0.5%;
    }
</style>
<ng-include src="'modules/home/views/navbar.htm'"></ng-include>

<div class="col-sm-12">
    <div class="row">
        <div class="mypads">
            <div class="card ">
                <div class="header3">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>SERVICES</p>
                </div>
            </div>
        </div>

        <div class="mypads">
            <div class="card ">
                <div class="header2">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>SMS SENT</p>
                </div>
            </div>
        </div>

        <div class="mypads" ng-init="loadUsers()">
            <div class="card ">
                <div class="header4">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>USERS</p>
                </div>
            </div>
        </div>

        <div class="mypads">
            <div class="card ">
                <div class="header5">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>ADVERTISEMENTS</p>
                </div>
            </div>
        </div>

        <div class="mypads">
            <div class="card ">
                <div class="header1">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>TICKETS</p>
                </div>
            </div>
        </div>
    </div>

</div>

