
<style>
    div.card {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }

    div.header1 {
        background-color: #ff0000;
        color: white;
        padding: 10px;
        font-size: 40px;
    }

    div.header2 {
        background-color: #ff00ff;
        color: white;
        padding: 10px;
        font-size: 40px;
    }

    div.header3 {
        background-color: #00ff00;
        color: white;
        padding: 10px;
        font-size: 40px;
    }

    div.header4 {
        background-color: #ace600;
        color: white;
        padding: 10px;
        font-size: 40px;
    }

    div.header5 {
        background-color:  #00ccff;
        color: white;
        padding: 10px;
        font-size: 40px;
    }

    div.container {
        padding: 10px;
    }
    .mytitle {
        color: rgb(169,169,169);
    }
    .mypads {
        padding-right: 0.5%;
        padding-left: 0.5%;
    }
</style>
<ng-include src="'modules/home/views/navbar.htm'"></ng-include>

<div class="col-sm-12">
    <div class="row">
        <div class="mypads">
            <div class="card ">
                <div class="header3">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>SERVICES</p>
                </div>
            </div>
        </div>

        <div class="mypads">
            <div class="card ">
                <div class="header2">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>CATEGORIES</p>
                </div>
            </div>
        </div>

        <div class="mypads">
            <div class="card ">
                <div class="header4">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>USERS</p>
                </div>
            </div>
        </div>

        <div class="mypads">
            <div class="card ">
                <div class="header5">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>ADVERTISEMENTS</p>
                </div>
            </div>
        </div>

        <div class="mypads">
            <div class="card ">
                <div class="header1">
                    <h1>1</h1>
                </div>

                <div class="container mytitle">
                    <p>TICKETS</p>
                </div>
            </div>
        </div>
    </div>
</div>
