<ng-include src="'modules/home/views/navbar.htm'"></ng-include>

<div class="col-sm-2">
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="#/sms/list">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">SMS List
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <!--<img width="100%" src="././undraw_charts_jj6t.svg">-->
        <img width="100%" src="././undraw_envelope_n8lc.svg">
    </div>
</div>

<div class="col-sm-8">

    <div  style="padding-top: 2%" class="form-group">

        <div ng-hide="npassword">
        <!--<div ng-hide="">-->
            <div class="progress" ng-if="cpassword">
                <div ng-if="cpassword" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
        </div>

        <div>
            <div class="progress" ng-if="npassword">
                <div ng-if="npassword" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <h2>{{title}}</h2>
    </div>
    <div name="form" class=" border border-light p-5">

        
        <div class="form-group">
            <label for="npassword">Compose Message</label>
            <textarea style="padding-bottom:2%;" type="password" class="form-control" id="npassword" ng-model="npassword" placeholder="" maxlength="160"/>
            <!-- <div class="row"> -->
                    <small id="emailHelp" class="form-text text-muted">160 characters max</small>
                    
            <!-- </div> -->
            <span style="color: red" ng-show="!npassword">Message is Required!</span>
            
                <div style="padding-top:2%;">
                        <button style="width: 100%; background: deeppink; border: none; " type="submit" class="btn btn-primary">Send</button>
                    
                    </div>
            
            
        </div>


        <!--<tt>user = {{fname}}</tt><br/>-->
        <!--<tt>form.fname.$error = {{form.fname.$error}}</tt><br>-->
        <div class="form-group" style="padding-top: 2%">
        </div>
    </form>

</div>
<div class="col-sm-2"></div>
