<ng-include src="'modules/home/views/navbar.htm'"></ng-include>
<div class="col-sm-2">
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/users/new">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">Finance
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/users/new">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">Users
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/users/new">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">Advertisements
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/users/new">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">Advertisements
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/users/new">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">Services
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/users/new">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">Categories
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/users/new">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">Categories
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <button style="width: 100%" type="button" class="btn btn-outline-info">Refresh</button>
    </div>
    
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <!--<img width="100%" src="././undraw_charts_jj6t.svg">-->
        <img width="100%" src="././undraw_financial_data_es63.svg">
    </div>

</div>
<div class="col-sm-8">Reports</div>
<div class="col-sm-2"></div>