<!--<ng-include src="'modules/home/views/navbar.htm'"></ng-include>-->
<div ng-include="'modules/home/views/navbar.htm'"></div>

<div class="col-sm-2">
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/tickets/pending">
            <button style="width: 100%;" type="button" class="btn btn-outline-danger">Pending
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/tickets/resolved">
            <button style="width: 100%;" type="button" class="btn btn-outline-success">Resolved
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/tickets">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">List All
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <button style="width: 100%" type="button" class="btn btn-outline-info">Refresh</button>
    </div>
</div>
<div class="col-sm-8">{{title}}</div>
<div class="col-sm-2"></div>
