<style>
table th , table td{
    text-align: center;
}

table tr:nth-child(even){
    background-color: #ffe6ff
}

.pagination li:hover{
    cursor: pointer;
}
</style>
<ng-include src="'modules/home/views/navbar.htm'"></ng-include>
<div class="col-sm-2">
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <a href="/#/users/new">
            <button style="width: 100%;" type="button" class="btn btn-outline-info">Create New User
            </button>
        </a>
    </div>
    <div style="padding-top: 2%; padding-bottom: 2%;">
        <button style="width: 100%" type="button" class="btn btn-outline-info">Refresh</button>
    </div>

    <div style="padding-top: 2%; padding-bottom: 2%;">
        <!--<img width="100%" src="././undraw_charts_jj6t.svg">-->
        <img width="100%" src="././undraw_followers_4i0p.svg">
    </div>

</div>
<div class="col-sm-10" ng-init="loadUsers()">

    <h2>Select Number Of Rows | {{title}}</h2>
                <div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
                
			 		<select class  ="form-control" name="state" id="maxRows">
						 <option value="5000">Show ALL Rows</option>
						 <option value="5">5</option>
						 <option value="10">10</option>
						 <option value="15">15</option>
						 <option value="20">20</option>
						 <option value="50">50</option>
						 <option value="70">70</option>
						 <option value="100">100</option>
						</select>
			 		
			  	</div>

<table class="table table-striped table-class" id= "table-id">
	<tr>
        <th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Phone</th>
        <th>Email</th>
        <th>Controls</th>
	</tr>
	<tr ng-repeat="dat in myWelcome">
        <td>{{$index +1}}</td>
        <td>{{dat.firstname}}</td>
        <td>{{dat.lastname }}</td>
        <td>{{dat.mobile}}</td>
        <td>{{dat.email}}</td>
        <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
		
	</tr>
	
</table>
    <div style="text-align: center; width: 100%; background: red; color: white">{{myWelcome}}</div>

<div data-pagination="" data-num-pages="numOfPages()" 
data-current-page="curPage" data-max-size="maxSize"  
data-boundary-links="true"></div>



<!--  Developed By Yasser Mas -->

</div>
<!-- <div class="col-sm-2"></div> -->
<script>
              getPagination('#table-id');
					//getPagination('.table-class');
					//getPagination('table');

		  /*					PAGINATION 
		  - on change max rows select options fade out all rows gt option value mx = 5
		  - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
		  - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
		  - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
		  - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows 
		  */
		 
	function getPagination (table){

        		var lastPage = 1 ; 

		  $('#maxRows').on('change',function(evt){
		  	//$('.paginationprev').html('');						// reset pagination 


		lastPage = 1 ; 
         $('.pagination').find("li").slice(1, -1).remove();
		  	var trnum = 0 ;									// reset tr counter 
		  	var maxRows = parseInt($(this).val());			// get Max Rows from select option

		  	if(maxRows == 5000 ){

		  		$('.pagination').hide();
		  	}else {
		  		
		  		$('.pagination').show();
		  	}

		  	var totalRows = $(table+' tbody tr').length;		// numbers of rows 
			 $(table+' tr:gt(0)').each(function(){			// each TR in  table and not the header
			 	trnum++;									// Start Counter 
			 	if (trnum > maxRows ){						// if tr number gt maxRows
			 		
			 		$(this).hide();							// fade it out 
			 	}if (trnum <= maxRows ){$(this).show();}// else fade in Important in case if it ..
			 });											//  was fade out to fade it in 
			 if (totalRows > maxRows){						// if tr total rows gt max rows option
			 	var pagenum = Math.ceil(totalRows/maxRows);	// ceil total(rows/maxrows) to get ..  
			 												//	numbers of pages 
			 	for (var i = 1; i <= pagenum ;){			// for each page append pagination li 
			 	$('.pagination #prev').before('<li data-page="'+i+'">\
								      <span>'+ i++ +'<span class="sr-only">(current)</span></span>\
								    </li>').show();
			 	}											// end for i 
			} 												// end if row count > max rows
			$('.pagination [data-page="1"]').addClass('active'); // add active class to the first li 
			$('.pagination li').on('click',function(evt){		// on click each page
				evt.stopImmediatePropagation();
				evt.preventDefault();
				var pageNum = $(this).attr('data-page');	// get it's number

				var maxRows = parseInt($('#maxRows').val());			// get Max Rows from select option

				if(pageNum == "prev" ){
					if(lastPage == 1 ){return;}
					pageNum  = --lastPage ; 
				}
				if(pageNum == "next" ){
					if(lastPage == ($('.pagination li').length -2) ){return;}
					pageNum  = ++lastPage ; 
				}

				lastPage = pageNum ;
				var trIndex = 0 ;							// reset tr counter
				$('.pagination li').removeClass('active');	// remove active class from all li 
				$('.pagination [data-page="'+lastPage+'"]').addClass('active');// add active class to the clicked 
				// $(this).addClass('active');					// add active class to the clicked 
				 $(table+' tr:gt(0)').each(function(){		// each tr in table not the header
				 	trIndex++;								// tr index counter 
				 	// if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
				 	if (trIndex > (maxRows*pageNum) || trIndex <= ((maxRows*pageNum)-maxRows)){
				 		$(this).hide();		
				 	}else {$(this).show();} 				//else fade in 
				 }); 										// end of for each tr in table
					});										// end of on click pagination list

		}).val(5).change();

												// end of on select change 
		 
    
  
								// END OF PAGINATION 
	}	







$(function(){
	// Just to append id number for each row  
                    $('table tr:eq(0)')
                    // $('table tr:eq(0)').prepend('<th> ID </th>')

					var id = 0;

					$('table tr:gt(0)').each(function(){	
						id++
                        $(this).prepend('<td>'+id+'</td>');
                        // $(this).prepend('<td>'+id+'</td>');
					});
})

//  Developed By Yasser Mas 
// yasser.mas2@gmail.com
</script>