<div class="col-sm-2"></div>
<div class="col-sm-8">
    <form name="form" ng-submit="login()" role="form" style="padding-top: 8%">
        <div style="text-align: center" class="form-group">
            <h1>Login {{timeOut}}</h1>
            <!-- <div ng-hide="timeOut"> -->
                <div ng-show="error" class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{error}} !</strong> 
                </div>
            <!-- </div> -->
        </div>
        <div style="padding-top: 2%" class="form-group">
            <label for="username">Email address</label>
            <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
            <input type="email" name="username" id="username" class="form-control" placeholder="Enter email" ng-model="username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Email is required</span>

            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div style="padding-top: 2%" class="form-group">
            <label for="password">Password</label>
            <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required>
        </div>
        <div  style="padding-top: 2%" class="form-group">
            <div class="progress" ng-if="dataLoading">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>

        <!--<button type="submit"  style="width: 100%; padding-top: 1%;" class="btn btn-primary">Submit</button>-->
        <button ng-hide="dataLoading" type="submit"  style="width: 100%; padding-top: 1%;" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger"> <h5 ng-hide="dataLoading">Login</h5>
            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </button>
        <div style="padding-top: 1%;"   class="form-group">
        <!--<hr>-->

        <a  href="/register.htm">
            <label style="text-align: center">
                Not Registered? Click here to register
            </label>
        </a>
        <hr>
        <a href="/resetpass.htm">
            <label style="text-align: center">
                Forgot Password? Click here to reset
            </label>
        </a>
         </div>
    </form>
</div>
<div class="col-sm-2"></div>
